<main id="main" class="main">



        <form #userForm="ngForm">
                <h2 *ngIf="( router.url == '/editUser')">Update User</h2>
                <h2 *ngIf="( router.url == '/createUser')">Create User</h2>

                <h2 *ngIf="( router.url == '/editHoliday')">Update Holiday</h2>
                <h2 *ngIf="( router.url == '/createHoliday')">Create Holiday</h2>

                <!-- <h2 *ngIf="( router.url == '/editUser')">Update User</h2>
        <h2 *ngIf="( router.url == '/createUser')">Create User</h2> -->
                <div class="modal-body">

                        <!--Home -->
                        <div class="row" *ngIf="(router.url==='/editUser' ||router.url==='/createUser'  )">
                                <div class="col-md-4"> <label for="inputName" class="form-label">Name</label> <input
                                                type="text" class="form-control" name="inputName"
                                                [(ngModel)]="usersArray.username">
                                </div>
                                <div class="col-md-4"> <label for="inputEmail" class="form-label">Email</label> <input
                                                type="email" class="form-control" name="inputEmail"
                                                [(ngModel)]="usersArray.Email">
                                </div>
                                <div class="col-md-4"> <label for="inputphone" class="form-label">phone</label> <input
                                                type="number" class="form-control" name="inputphone"
                                                [(ngModel)]="usersArray.phone">
                                </div>

                        </div>
                        <!-- end of home -->


                        <div class="row" *ngIf="(router.url==='/editHoliday' ||router.url==='/createHoliday'  )">
                                <div class="col-md-12"> <label for="inputName" class="form-label">Date</label> <input
                                                type="date" class="form-control" name="inputName"
                                                [(ngModel)]="holidayArr.date" required=""></div>

                                <label for="inputReason" class="col-sm-2 col-form-label">Reason</label>
                                <div class="col-md-12"><textarea class="form-control" style="height: 100px"
                                                name="inputReason" [(ngModel)]="holidayArr.Reason"
                                                #reason="ngModel"></textarea></div>
                        </div>

                        <div class="row" *ngIf="(router.url==='/editLeave' ||router.url==='/createLeave')">

                                <div class="col-md-12"> <label for="inputDate" class="form-label">Date</label> <input
                                                type="date" class="form-control" name="inputDate" id="inputDate"
                                                [(ngModel)]="leaveArr.leavedate" #date='ngModel' required></div>

                                <div class="col-md-12">

                                        <label for="inputReason" class="col-sm-2 col-form-label">Reason</label>
                                        <div class="col-md-12"><textarea class="form-control" style="height: 100px"
                                                        name="inputReason" [(ngModel)]="leaveArr.leavereason"
                                                        #reason="ngModel"></textarea></div>
                                </div>



                        </div>




                </div>
                <div class="modal-footer">

                        <!-- home buttons -->
                        <div *ngIf="( router.url == '/editUser')"><button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" (click)="userClose()">Close</button>
                        </div>

                        <div *ngIf="( router.url == '/createUser')"><button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" (click)="userClose()">Close</button>
                        </div>


                        <div
                                *ngIf="usersArray.username && usersArray.Email && usersArray.phone && ( router.url == '/createUser')">
                                <button class="btn btn-primary" (click)="saveUser(userForm)"
                                        *ngIf="usersArray.userId ===0">Save
                                        changes</button>
                        </div>
                        <div
                                *ngIf="usersArray.username && usersArray.Email && usersArray.phone && ( router.url == '/editUser')">
                                <button class="btn btn-primary" (click)="updateUser()"
                                        *ngIf="usersArray.userId>0">Update</button>

                        </div>

                        <!-- end of home buttons -->


                        <div *ngIf="( router.url == '/editHoliday')"><button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" (click)="holidayClose()">Close</button>
                        </div>

                        <div *ngIf="( router.url == '/createHoliday')"><button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" (click)="holidayClose()">Close</button>
                        </div>


                        <div *ngIf="holidayArr.date && holidayArr.Reason && ( router.url == '/createHoliday')"><button
                                        class="btn btn-primary" (click)="saveHoliday(userForm)"
                                        *ngIf="holidayArr.holidayId === 0 ">Save
                                        changes</button>
                        </div>
                        <div *ngIf="holidayArr.date && holidayArr.Reason  && ( router.url == '/editHoliday')">
                                <button class="btn btn-primary" (click)="updateHoliday()"
                                        *ngIf="holidayArr.holidayId>0">Update</button>

                        </div>

                        <!-- leaveList buttons -->



                        <div *ngIf="( router.url == '/editLeave')">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="leaveClose()">Close</button>
                        </div>


                        <div *ngIf="( router.url == '/createLeave')">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        (click)="leaveClose()">Close</button>
                        </div>

                        <div *ngIf="leaveArr.leavedate && leaveArr.leavereason  && ( router.url == '/createLeave')"> <button class="btn btn-primary"
                                        (click)="saveLeave(userForm)" data-bs-dismiss="modal"
                                        *ngIf="leaveArr.leaveId == 0">Save
                                        changes</button>
                        </div>

                        
                        <div *ngIf="leaveArr.leavedate && leaveArr.leavereason  && ( router.url == '/editLeave')"><button  class="btn btn-primary" (click)="updateLeave()" data-bs-dismiss="modal"
                                *ngIf="leaveArr.leaveId > 0">Update</button></div>
                </div>


        </form>


</main>