<main id="main" class="main">
    <div class="pagetitle">
        <h1>Users</h1>

    </div>
    <section class="section">
        <div class="row">


            <div class="col-lg-6">
                <div class="my-2">
                    <button type="button" class="btn btn-success"  (click)="createUser()"> Create </button>
                </div>
                <div class="card">
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th scope="col">Name</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">phone</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of user;let i= index">


                                    <td>{{item.username}}</td>
                                    <td>{{item.Email}}</td>
                                    <td>{{item.phone}}</td>
                                    <td *ngIf="!cdel[i]"> <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                            data-bs-target="#userModal" (click)="onEdit(item)"> Update </button></td>
                                    <td *ngIf="!cdel[i]"><button  type="button" class="btn btn-danger" (click)="onDel(i)">
                                            Delete </button></td>

                                            <td *ngIf="cdel[i]"><button  type="button" class="btn btn-danger" (click)="onDelete(item.userId)">
                                                Confirm Delete </button>
                                            
                                              </td>

                                              <td *ngIf="cdel[i]"> <button  type="button" class="btn btn-secondary" (click)="onCancel(i)">
                                                Cancel </button>
                                            </td>

                                            
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>






    <!-- modal for editing -->




   
</main>