<aside class="sidebar" >
    <ul class="sidebar-nav" >
       <li class="nav-item thumbjack">
          <a class="nav-link collapsed">
                <i class="fa-sharp fa-solid fa-thumbtack bg1"></i>
          </a>
      </li>
        <li class="nav-item">
            <a class="nav-link collapsed">
             <i class="fa-sharp fa-solid fa-box bg2" ></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed">
                <i class="fa-sharp fa-solid fa-chart-simple bg3"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed">
             <i class="fa-solid fa-bullhorn bg4" routerLink="/"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed">
             <i class="fa-sharp fa-solid fa-user-group bg5" ></i>
            </a>
        </li>
    </ul>
 </aside>
