<main id="main" class="main">
   <div class="pagetitle">
      <h1>Leave Request</h1>


   </div>

   <!-- request leave -->
   <section class="section">
      <div class="row">


         <div class="col-lg-6">

            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Pending leaves</h5>
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Name</th>
                           <th scope="col">Date</th>
                           <th scope="col">Reason</th>


                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let items of leave;let i=index">

                           <td>{{i+1}}</td>
                           <td>{{items.name}}</td>
                           <td>{{items.leavedate}}</td>
                           <td>{{items.leavereason}}</td>
                           <td *ngIf="!cdel[i] && !cupd[i]"> <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                 data-bs-target="#leaveModal" (click)="onUpd(i)"> Approve </button></td>

                           <td *ngIf="!cdel[i] && cupd[i]"> <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                 data-bs-target="#leaveModal" (click)="onApprove(items)">Confirm Approve </button></td>
                           <td *ngIf="!cdel[i] && !cupd[i]"><button type="button" class="btn btn-danger"
                                 data-bs-target="#leaveModal" (click)="onDel(i)"> Delete </button></td>

                           <td *ngIf="cdel[i]"><button type="button" class="btn btn-danger"
                                 (click)="onDelete(items.leaveId)">
                                 Confirm Delete </button>

                           </td>

                           <td *ngIf="cdel[i] || cupd[i]"> <button type="button" class="btn btn-secondary" (click)="onCancel(i)">
                                 Cancel </button>
                           </td>

                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>

         </div>
      </div>
   </section>


 
</main>