.dashboard-wrapper {
  margin-left: 9rem;
  margin-top: 3rem;
  .heading {
    color: var(--dark-grey);
  }
  .subheading {
    margin-top: 2rem;
  }
  .cardMain {
    height: 45rem;
  .scrollbody{
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
    .createCampaignBtn {
      margin: 2rem;
      width: 10%;
    }.ViewChartBtn{
      margin: 2rem;
      width: 10%;
      position: absolute;
      top:0;
      right:10%;
    }
    .dropdownMenuLink {
      background-color: rgb(191, 191, 191);
      color: var(--dark-grey);
    }
    .bg {
      --bs-bg-opacity: 0.5;
      border-radius: 20px 20px 20px 20px;
    }
    tr {
      line-height: 3rem;
      font-weight: 900;
      color: var(--tabletextcolor);
    }
    th {
      font-weight: 900;
      font-size: 1.06rem;
      color: var(--dark-grey);
      position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
      position: sticky;
      top: 0;
      z-index: 1; 
      background: #fff;
    }
  }
  .card-body{
    padding:0 3rem 1rem 3rem;
  }
  table{
    width: 100%;
    .mat-cell{
      color:grey;
      padding:1rem;
      .btn{
        padding: 0;
        width:8em;
      }.mat-chip{
        width:7rem;
        text-align: center;
        justify-content: center;
      }.mat-chip-P{
        background-color: var(--shiny-blue) !important;
        color: var(--navy-blue) !important;
      }.mat-chip-D{
        background-color: var(--mid-grey) !important;
        color: var(--mid-grey-text) !important;
      }.mat-chip-C{
        background-color: var(--sucess) !important;
        color: var(--sucess-text) !important;
      }
    }
  }
  .table{
    border-collapse: separate;
    .tabelId{
      padding-left: 1.5rem;
    }.tableCampaign{
      padding-left: 0.9rem;
    }.tableStatus{
      padding-left: 2.5rem;
    }.tableCtr{
      padding-left: 1rem;
    }.tableAction{
      padding-left: 3rem;
    }
  }.viewchart{
    position: absolute;
    top:15%;
    right:5%;
    z-index: 3;
  }
}
