:root{
    --greyish-white:rgb(212, 210, 210);
    --dark-grey: rgb(94, 92, 92);
    --light-grey:rgba(221, 221, 221, 0.299);
    --tabletextcolor:rgb(159, 148, 148);
    --sucess:rgba(39, 203, 105, 0.587);
    --sucess-text:rgb(5, 146, 80);
    --shiny-blue:rgba(9, 186, 171, 0.521);
    --navy-blue:rgb(22, 112, 142);
    --mid-grey:rgba(211, 206, 189, 0.587);
    --scroll-bar:rgba(154, 154, 154, 0.537);
    --mid-grey-text:rgb(76, 78, 77);
    --light-blue:rgba(28, 220, 227, 0.339);
}