<main id="main" class="main">
   <div class="pagetitle">
      <h1>Holidays</h1>


   </div>
   <section class="section">
      <div class="row">


         <div class="col-lg-6">
            <div class="my-2">

               <!-- button for adding holiday -->

               <button type="button" class="btn btn-success" (click)="addHoliday()" data-bs-toggle="modal"
                  data-bs-target="#holidayModal"> Add holiday </button>
            </div>
            <div class="card">
               <div class="card-body">

                  <!-- table data is taking from localstorage -->

                  <table class="table table-striped">
                     <thead>
                        <tr>

                           <th scope="col">Date</th>
                           <th scope="col">Reason</th>


                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let items of holiday;let i=index">


                           <td>{{items.date}}</td>
                           <td>{{items.Reason}}</td>

                           <!-- editing button -->

                           <td *ngIf="!cdel[i]"> <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                 data-bs-target="#holidayModal" (click)="onEdit(items)"> Update </button></td>

                           <!-- delete button -->
                           <td *ngIf="!cdel[i]"><button type="button" class="btn btn-danger" data-bs-target="#holidayModal"
                                 (click)="onDel(i)"> Delete </button></td>

                           <td *ngIf="cdel[i]"><button type="button" class="btn btn-danger" data-bs-target="#holidayModal"
                                 (click)="onDelete(items.holidayId)">Confirm Delete </button></td>

                           <td *ngIf="cdel[i]"><button type="button" class="btn btn-secondary" data-bs-target="#holidayModal"
                                 (click)="onCancel(i)"> Cancel </button></td>

                        </tr>

                     </tbody>
                  </table>
               </div>
            </div>

         </div>
      </div>
   </section>







</main>