<section class="campaign-wrapper">
  <div class="row m-0">
    <div class="col-lg-1 px-5 m-0">
      <h2 class="fw-bold text-secondary title p-3">
        Campaign
      </h2>
    </div>
    <div class="col-6 white ">
      <p class="pt-2 Heading">
        New Campaign
      </p>
    </div>
  </div>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="mx-5">
    <ng-template matStepperIcon="edit" let-index="index">
      {{index+1}}
    </ng-template>
    <mat-step [stepControl]="firstFormGroup" label="Campaign Details">
      <form [formGroup]="firstFormGroup" class="p-5">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="collapseTitle pt-2">
                Campaign Detail
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-12">
                <label>
                  Campaign Objective
                </label>
                <mat-form-field class="col-12 p-0" appearance="outline">
                  <input matInput placeholder="Campaign Objective" formControlName="firstCtrl" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row ">
              <div class="col-6">
                <label>
                  Campaign Category(optional)
                </label>
                <mat-form-field appearance="outline" class="col-12 p-0">
                  <mat-label>
                    Select campaign category
                  </mat-label>
                  <mat-select>
                    <mat-option *ngFor="let category of campeignCategory" [value]="category.value">
                      {{category.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <label>
                  Campaign Category(optional)
                </label>
                <mat-form-field appearance="outline" class="col-12 p-0">
                  <mat-label>Select Offer type</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let category of campeignCategory" [value]="category.value">
                      {{category.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <label>Additional Comments(optional)</label>
              <mat-form-field class="col-12" appearance="outline">
                <textarea matInput rows="10" placeholder="Additional comments"></textarea>
              </mat-form-field>
            </div>
            <div class>
              <button mat-flat-button class="bg-primary float-right text-light py-1 px-5" matStepperNext>Next</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-step>
    <!--                     -->
    <!-- stepper two begins -->
    <!--                     -->
    <mat-step [stepControl]="secondFormGroup" label="Location Detail">
      <form [formGroup]="secondFormGroup" class="p-5">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="collapseTitle pt-2">
                Location Detail <i class="fa fa-info-circle info" aria-hidden="true"></i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <mat-form-field appearance="outline" class="col-11 Location-Field">
                    <input type="text" matInput placeholder="Search for a street" class="" [matAutocomplete]="auto">
                    <i class="material-icons align-arrow-right">
                      arrow_drop_down
                    </i>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                        {{street}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="row mb-5">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3789.0829308119296!2d74.84787323908161!3d12.875568051637446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba35a387497f16d%3A0x2c25852c3ff6568f!2sNaturals%20Ice%20Cream!5e0!3m2!1sen!2sin!4v1669706216079!5m2!1sen!2sin"
                    width="1770" height="450" class="col-11" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="col-6">
                <div row="row">
                  <form [formGroup]="locationDataForm" class="col-12">
                    <table class=" locationTable ">
                      <div class="card-body scorllAdjust">
                        <tbody>
                          <tr *ngFor="let item of locationArray;let i=index" class="p-2">
                            <td>{{i+1}}</td>
                            <td *ngIf="!Isediting[i]" class="colWidthTable"><span
                                class="TableValueAlign">{{item.place}}</span>
                              <span *ngIf="!Isediting[i]" class="material-icons edit-btn" (click)="onEdit(i)">
                                edit
                              </span>
                            </td>
                            <td *ngIf="Isediting[i]" class="colWidthTable">
                              <input matInput type="text" class=" BorderFocus " formControlName="place"
                                placeholder="{{item.place}}" [(ngModel)]="item.place">
                              <span *ngIf="Isediting[i]" class="text-primary save-btn" (click)="onSave(i)">Save</span>
                            </td>
                            <td class="pl-3"><span class="material-symbols-outlined bin" (click)="onDelete(item.id)">
                                delete
                              </span></td>
                          </tr>
                        </tbody>
                      </div>
                    </table>
                  </form>
                </div>
                <div row="row">
                  <div class="col-12">
                    <form [formGroup]="radiusForm">
                      <label class="h6 selectradius">
                        Radius
                      </label>
                      <mat-form-field appearance="outline" class="col-12 p-0 formControl" required>
                        <mat-select [formControl]="radius">
                          <mat-option *ngFor="let category of campeignCategory" [value]="category.value">
                            {{category.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </form>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <button mat-button class="bg-primary float-right text-light py-1 px-5 mb-2 mx-3" matStepperNext>
              Next
            </button>
            <button mat-stroked-button class=" float-right  py-1 px-5 mb-2 mx-3" matStepperNext>
              Apply
            </button>
            <button mat-button matStepperPrevious class="float-left text-dark py-1 px-5 mb-2 backBtn">
              Back
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-step>
    <!--
      .....
    -->
    <mat-step [stepControl]="thirdFormGroup" label="Audience">
      <form [formGroup]="thirdFormGroup" class="p-5">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="collapseTitle pt-2 ">
                Audience
                <i class="fa fa-info-circle info" aria-hidden="true"></i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row audienceSearch col-12">
              <mat-form-field appearance="outline" class=" col-12 p-0 ">
                <input type="text" matInput placeholder="Search" class="" (click)="AudienceTableAppear()" readonly>
                <button mat-button matSuffix mat-stroked-button aria-label="search" class="browseBtn">
                  Browse
                  <i class="material-icons align-arrow-right pr-3 pt-1">
                    arrow_drop_down
                  </i>
                </button>
              </mat-form-field>
            </div>
            <div class="space">
              <div class="card-body">
                <table>
                  <tr *ngIf="selectionDataArray[0]">
                    <td class="col-6">
                      Industry
                      <mat-chip-list>
                        <mat-chip *ngFor="let data of selectionDataArray">
                          {{data}}
                        </mat-chip>
                      </mat-chip-list>
                    </td>
                  </tr>
                  <tr *ngIf="genderChipsdata[0]">
                    <td class="col-6">
                      Gender:
                      <mat-chip-list>
                        <mat-chip *ngFor="let data of genderChipsdata">
                          {{data}}
                        </mat-chip>
                      </mat-chip-list>
                    </td>
                  </tr>
                  <tr *ngIf="ageChipsdata[0]">
                    <td class="col-6">
                      Age:
                      <mat-chip-list>
                        <mat-chip color="warn" *ngFor="let data of ageChipsdata">
                          {{data}}
                        </mat-chip>
                      </mat-chip-list>
                    </td>
                  </tr>
                </table>
              </div>
              <button mat-button class=" bg-primary float-right text-light py-1 px-5 mb-2 mx-3"
                matStepperNext>Next</button>
              <button mat-button matStepperPrevious
                class="float-left text-dark py-1 px-5 mb-2 ml-4 backBtn">Back</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="isAudienceTable" class="row audienceTable  shadow m-2 col-md-9">
          <div class="col-4 ">
            <div class="row  headingline tablecolWidth"><span class="div"> Industry</span></div>
            <div class="row tablecolWidth tablehover" [ngClass]="{'selectedRow': isHeadingClicked[i] }"
              *ngFor="let category of testArray;index as i">
              <div class="div" (click)="headingCategoriesAppear(i)"> {{category.name}} <span
                  class="material-symbols-outlined float-right">
                  arrow_forward_ios
                </span></div>
            </div>
          </div>
          <div *ngIf="viewDemographicCategories" class="col-4">
            <div class="row headingline tablecolWidth"><span class="div"> Category</span></div>
            <!-- {{testArray[0].child[0].name|json}} -->
            <div class="row tablecolWidth tablehover" [ngClass]="{'selectedRow': isCategoryClicked[i] }"
              *ngFor="let category of testArray;index as i">
              <div class="div" (click)="subcategoriesAppear(i)"> {{testArray[0].child[i].name}} <span
                  class="material-symbols-outlined float-right">
                  arrow_forward_ios
                </span></div>
            </div>
          </div>
          <div *ngIf="viewGeographicCategories" class="col-4">
            <div class="row headingline tablecolWidth"><span class="div"> Category</span></div>
            <div class="row tablecolWidth tablehover" [ngClass]="{'selectedRow': isCategoryClicked[i] }"
              *ngFor="let category of testArray;index as i">
              <div class="div" (click)="subcategoriesAppear(i)"> {{testArray[1].child[i].name}} <span
                  class="material-symbols-outlined float-right">
                  arrow_forward_ios
                </span></div>
            </div>
          </div>
          <div *ngIf="viewLabelCategories" class="col-4">
            <div class="row headingline tablecolWidth"><span class="div"> Category</span></div>
            <div class="row tablecolWidth tablehover" [ngClass]="{'selectedRow': isCategoryClicked[i] }"
              *ngFor="let category of testArray;index as i">
              <div class="div" (click)="subcategoriesAppear(i)"> {{testArray[2].child[i].name}} <span
                  class="material-symbols-outlined float-right">
                  arrow_forward_ios
                </span></div>
            </div>
          </div>
          <div *ngIf="viewAgeCategories" class="col-4 ">
            <div class="row  headingline tablecolWidth"><span class="div"> Application</span></div>
            <!-- <div class="scrollHide"> -->
            <div class="row ageCol tablehover " *ngFor="let age of testArray[0].child[0].age;index as i">
              <input type="checkbox" class="form-check-input checkMat" value="{{age.value}}" [checked]="age.status"
                (change)="OnAgeChange($event)"> <span class="ageText"> {{age.value}}</span>
            </div>
          </div>
          <div *ngIf="viewGenderCategories" class="col-4 ">
            <div class="row  headingline tablecolWidth"><span class="div"> Application</span></div>
            <div class="row ageCol tablehover " *ngFor="let gender of testArray[0].child[0].Gender;index as i">
              <input type="checkbox" class="form-check-input checkMat" value="{{gender.value}}"
                [checked]="gender.status" (change)="OnGenderChange($event)"> <span class="ageText">
                {{gender.value}}</span>
            </div>
          </div>
          <div>
            <button *ngIf="viewGenderCategories || viewAgeCategories" mat-stroked-button
              class="float-right bg-primary text-light py-1 px-5 mb-2 mx-3" (click)="applyBtn()">
              Apply
            </button>
            <button mat-stroked-button class="float-right  py-1 px-5 mb-2 mx-3" (click)="AudienceTableDisappear()">
              Back
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</section>